div.square, div.square0, div.square1, div.square2, div.square3 {
    border: 1px solid gray
}

div.board {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(2, 10rem);
}

div.buttons {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90%;
}

div.square{
    display: flex;
    align-items: center;
    justify-content: center;
}